<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lian.mapper.AuthorityMapper">

    <resultMap id="basicMap" type="org.lian.domain.Authority">
        <id property="id" column="ID"/>
        <result property="position" column="Position"/>
    </resultMap>

    <select id="selectOne" resultMap="basicMap">
        SELECT *
        FROM Authority
        WHERE Authority.ID = #{id}
    </select>


</mapper>