<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lian.mapper.UserMapper">

    <resultMap id="basicMap" type="org.lian.domain.User">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="phone" column="Phone"/>
        <result property="password" column="Password"/>
        <association property="authority" javaType="org.lian.domain.Authority">
            <id property="id" column="Authority_ID"/>
            <result property="position" column="Position"/>
        </association>

    </resultMap>
    <sql id="*">
        User.ID as ID ,User.Name as Name,User.Phone as Phone,User.Password as Password,
        Authority.ID as Authority_ID,Authority.Position as Position
    </sql>

    <insert id="insertPhoneAndPasswordAndName" parameterType="org.lian.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (user.Phone, user.Password, user.Name )
        VALUES (#{phone}, #{password},#{name})
    </insert>

    <update id="updatePasswordOrName" parameterType="org.lian.domain.User">
        UPDATE user
        <set>
            <if test="name != null">user.Name = #{name},</if>
            <if test="password != null">user.Password = #{password},</if>
        </set>
        WHERE user.phone = #{phone}
    </update>

    <select id="selectIndirect" resultMap="basicMap">
        SELECT <include refid="*"/>
        FROM user,Authority
        WHERE User.Authority_ID = Authority.ID
            <if test="user.phone != null"> AND user.phone = #{user.phone}</if>
            <if test="user.name != null"> AND user.name = #{user.name}</if>
            <if test="user.password != null"> AND user.password = #{user.password}</if>

    </select>

    <select id="selectByID" resultMap="basicMap">
        SELECT <include refid="*"/>
        FROM user,Authority
        WHERE user.Authority_ID = Authority.ID AND
        user.ID = #{id}
    </select>


</mapper>